


<div class="example-container login" >

  <h2>Login</h2>
  <form
    class="example-form"
    [formGroup]="myForm"
    action="ngForm"
    (ngSubmit)="onTokenSubmit(tokenInput.value)"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Your Bearer Token</mat-label>
      <input
        matInput
        #tokenInput
        name="tokenInput"
        id="tokenInput"
        formControlName="theTokenInput"
        placeholder="your bearer token"
        minlength="64"
        required
      />
      <mat-hint align="start" ></mat-hint>
    </mat-form-field>

    <a href="https://gorest.co.in/consumer/login" target="_blank"
    ><button class="btn btn-light"><mat-icon>exit_to_app</mat-icon>
    Clicca qui per ottenere il
    tuo token per accedere alla piattaforma</button></a>
    <div class="btn-container">

      <button class="btn btn-primary" id="submitButton" [disabled]="myForm.invalid">Login</button>


    </div>
  </form>

</div>
<app-error-message *ngIf="errorCode" [errorCode]="errorCode"></app-error-message>
