.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;


  }

  a:hover {
      color: #0056b3;
    }
