<app-error-message *ngIf="errorCode" [errorCode]="errorCode"></app-error-message>

<div class="div" *ngIf="!commentShown && !errorCode">
  <div *ngFor="let comment of comments" class="comment">
    <div class="comment-header">
      <i class="bi bi-person-fill"></i>
      <span class="comment-author">{{ comment.name }}</span>
    </div>
    <div class="comment-body">
      {{ comment.body }}
    </div>
  </div>


</div>
<app-comment-form [newCommentShow]="newCommentShow" [postId]="postId"> </app-comment-form>
<div class="center">
<button class="btn btn-pagination" *ngIf="comments.length " (click)="toggleComments()">
  {{commentShown?'Mostra ' +   comments.length  +' commenti':'Nascondi commenti'}}</button>
<button class="btn btn-pagination" *ngIf="!comments.length" (click)="newComment()">
  Non ci sono commenti in questo post, creane uno tu!
</button>
</div>
