.container {
  position: relative;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  position: absolute;
  top: 0;
  left: -500px;
  transition: left 0.3s ease-in-out;
  z-index: 1;
}

.right-sidebar.active {
  left: 0;
}

.sidebar-content {
  position: relative;
  z-index: 2;
}
mat-slide-toggle {
  margin: 15px;
}

.header
{  display: flex;
    align-items: flex-start;
}
