.container.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-pagination {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 4px;
}

.btn-pagination:first-child {
  margin-left: 0;
}

.btn-pagination:last-child {
  margin-right: 0;
}

.btn-pagination.btn-primary {
  background-color: #3b5998; /* Colore primario per i pulsanti */
  border: none;
  color: #ffffff; /* Colore del testo */
}

.btn-pagination.btn-dark {
  background-color: #2c3e50; /* Colore scuro per i pulsanti */
  border: none;
  color: #ffffff; /* Colore del testo */
}

.btn-pagination[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-pagination:hover {
  opacity: 0.8;
}

