
<span class="top-spacer"></span>
<footer class="bg " id="footer">
  <div class="footer row ">

    <div class="col-md-4 "></div>
    <div class="diritti col-md-4 "><p> &copy; All rights reserved herakle<sup>&trade;</sup></p>
    </div>
   <div class="col-md-4 icon">
    <a class="social-ico bi bi-facebook icon-lg" href="https://m.facebook.com/profile.php?id=100000945715301"></a>
    <a class="social-ico bi bi-whatsapp icon-lg" href="https://wa.me/+393896665685"></a>
    <a class="social-ico bi bi-instagram icon-lg" href="https://www.instagram.com/the_real_herakle/"></a>
    <a class="social-ico bi bi-twitter icon-lg" href="https://twitter.com/FIvan98"></a>
    <a class="social-ico bi bi-linkedin icon-lg" href="https://www.linkedin.com/in/ivan-ferrigno-1b6b3a172/"></a>
    <a class="social-ico bi bi-github icon-lg" href="https://github.com/herakle-dev"></a>
</div>
</div>
</footer>
